body {
color: white;
font-family: HanziPen TC;
font-size: 25px;
}
h1 {
color: white;
background: #17249A;
font-style: normal;
font-size: 50px;
font-family: PilGi;
}
background: #F9C51B;
}
p {
color: #1FD5C9;
font-family: ariel;
background-color: lightblue
}
#exercises{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-gap: 10px;
}
#col5{
  grid-column-start:2;
}
#projects{
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-gap: 1px;
}

#col1{
  grid-column-start:1;
}

.h{
/*width: 300px;
float: left;*/
}

 body {
      animation: colorchange 10s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 10s; /* Chrome and Safari */
      -webkit-animation-iteration-count: infinite; /* Chrome and Safari */
      animation-iteration-count: infinite;
    }

    @keyframes colorchange
    {
      0%   {background: #7DBCE1;}
      25%  {background: #2138CB;}
      50%  {background: ##77DEDE;}
      75%  {background: ##249485;}
      100% {background: #7DBCE1;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: #7DBCE1;}
      25%  {background: #2138CB;}
      50%  {background: ##77DEDE;}
      75%  {background: ##249485;}
      100% {background: #7DBCE1;}
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

ol {
    background: #848DDF;
    padding: 20px;
    color: white;
}
ol li {
    background: #BDC2EF;
    padding: 5px;
    margin-left: 35px;
}
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #BDC2EF;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #3D4FE9;
    color: white;
}

li a:hover:not(.active) {
    background-color: #0F26F9;
    color: white;
}
p {
    border-bottom: 6px solid white;
}