.div1 {
      padding: 10px;
      width: 300px;
      text-align: justify;
      margin-left: 100px;
}
.div2 {
      padding: 10px;
      width: 300px;
      text-align:justify;
      margin-left: 450px;
}
.div3 {
        padding: 10px;
        width: 300px;
        text-align:justify;
        margin-left: 800px;
}
.div4 {
          padding: 10px;
          width: 300px;
          text-align:justify;
          margin-left: 1150px;
}
.div5 {
    transform: rotate(7deg);
}
.div6 {
    transform: rotate(14deg);
}
.div7 {
    transform: rotate(21deg);
}
.div8 {
    transform: rotate(28deg);
}
.div9 {
    transform: rotate(35deg);
}
div {
      padding: 10px;
      width: 700px;
      text-align: justify;
      margin-left: 100px;
}
.demopara {
  line-height: 400% ;
}
