#iphone {
	width: 2000px;
	height:2000px;
	background: url("../iPhone-X-how-to-save-Animoji-with-3D-Touch-screenshot-008.png");
	background-repeat: no-repeat;
    position: fixed;
	left: 500px;
	bottom: -1570PX;
    background-size: 20%;

}

#screen {
	width: 341px;
	height: 302px;
	background: white;
	overflow: scroll;
	position: absolute;
	left: 29px;
	top: 128px
}
body {
   background: url("../iStock-490185866.jpg");
   background-repeat: no-repeat;
   background-size: 110%;
   background-attachment: fixed;
   position: fixed;
}

img {
    transition:transform 0.25s ease;
}

img:hover {
    -webkit-transform:scale(2); /* or some other value */
    transform:scale(2);
}
